app-component-info .expandable-content {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

app-component-info .expandable-content:not(.visible) {
  padding: 0 !important;
  margin: 0 !important;
  height: 0 !important;
}

$columnGap: 4px;
$rowGap: 4px;


app-component-info .variants-grid {
  display: grid;
  //grid-template-columns -> set in TS based on number of properties
  row-gap: $rowGap;
  margin-bottom: 4px;
  font-size: 0.8rem;

  .variant-row {
    // Pass through grid styling to row children
    display: contents;
  }

  .variant-properties-container {
    display: contents;
  }

  .variant-property-header {
    padding-left: $columnGap * 2;
  }

  .grid-header {
    font-size: 0.75rem;
  }
}

app-component-info .variant-instances {
  text-align: center;
  font-size: 0.75rem;
  margin-left: $columnGap;
}

app-component-info .variant-row .card-clickable-element {
  padding: 4px 8px !important;

  &:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &.variant-property {
    border-radius: 0;
    gap: 0;

    &:first-child {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      margin-left: 0;
    }
  }
}