app-component-info {
    width: 100%;
    background: var(--figma-color-bg-secondary);
    border-radius: 12px;
    padding: 12px;
}
app-component-info .title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
app-component-info .component-name {
    font-size: 1.2rem;
    font-weight: bold;
}
app-component-info .sub-header {
    margin-bottom: 8px;
}
app-component-info .subtle-text {
    font-size: 0.8rem;
    color: var(--figma-color-text-secondary);
}
app-component-info .tag {
    background: var(--figma-color-bg-tertiary);
    color: var(--figma-color-text-primary);
    padding: 2px 8px;
    border-radius: 4px;
    margin-right: 4px;
}
app-component-info .variants-count {
    font-weight: bold;
    color: var(--figma-color-icon-component);
}
app-component-info .instances-count {
    font-weight: bold;
    color: var(--figma-color-text-success);
}
app-component-info .expand-collapse-icon {
    width: 18px;
    cursor: pointer;
}

app-component-info .expandable-content {
    margin-top: 16px;
    padding: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}
app-component-info .expandable-content:not(.visible) {
    padding: 0 !important;
    margin: 0 !important;
    height: 0 !important;
}
app-component-info .expand-collapse-icon {
    transition: all 0.3s ease-in-out;
}
app-component-info .expand-collapse-icon:hover svg {
    stroke: var(--figma-color-icon-brand);
}
app-component-info .expand-collapse-icon.expanded {
    transform: rotate(180deg);
}
app-component-info .variant-entry:not(:last-child) {
    margin-bottom: 4px;
}
app-component-info [navigatable-node-id] {
    cursor: pointer;
}
app-component-info [navigatable-node-id]:hover {
    text-decoration: underline;
}