// Simple "Components" that are defined by adding a class to an element

// Tag
.tag-element {
  background: var(--figma-color-bg-tertiary);
  padding: 2px 8px;
  border-radius: 4px;
  margin-right: 4px;

  font-size: 0.75rem;
  color: var(--figma-color-text-secondary);
}

//Card
.card {
  background: var(--figma-color-bg-secondary);
  border-radius: 12px;
  padding: 8px 12px;

  .card-header {

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      font-size: 1rem;
      font-weight: 550;
    }

    .sub-title {
        margin-bottom: 8px;
    }

  }

  .card-content {
    margin-top: 16px;

    .card-clickable-element {
      cursor: pointer;
      background: var(--cm-color-bg-tertiary);
      padding: 2px 8px;
      border-radius: 16px;
      color: var(--figma-color-text);

      &:hover, &.hover {
        background: var(--cm-color-bg-tertiary-hover);
        text-decoration: none !important;
      }

      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}

// Expand-Collapse
.expand-collapse-icon {
  width: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform-origin: center center;

  &:hover svg {
    stroke: var(--figma-color-icon-brand);
  }

  &.expanded {
    transform: rotate(180deg);
  }
}