.figma-dark {
  --cm-color-bg-tertiary: rgba(255, 255, 255, 0.1);
  --cm-color-bg-tertiary-hover: rgba(255, 255, 255, 0.2);
}

.figma-light {
  --cm-color-bg-tertiary: #e6e6e6;
    --cm-color-bg-tertiary-hover: #d4d4d4;
}