@use "style-components";
@use "styles-colors";

body {
  /*
  https://www.figma.com/plugin-docs/css-variables/
   */

  background-color: var(--figma-color-bg);
  color: var(--figma-color-text);
  font-family: Inter, sans-serif;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--figma-color-bg);
  -webkit-border-radius: 9999px;
}
::-webkit-scrollbar-thumb {
  background: rgba(209, 168, 255, 0.2);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
}

#components-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.variants-count {
  font-weight: bold;
  color: var(--figma-color-text-component);
}

.instances-count {
  font-weight: bold;
  color: var(--figma-color-text-success);
}

.subtle-text {
  font-size: 0.8rem;
  color: var(--figma-color-text-secondary);
}

.clickable-text {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.display-none {
    display: none !important;
}

.visibility-hidden {
    visibility: hidden !important;
}