app-search-input {
  display: block;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;

  input {
    width: 100%;
    padding: 4px;
    border-radius: 9999px;
    border: none;

    background: var(--figma-color-bg-secondary);
    color: var(--figma-color-text);

    &:focus {
      outline: none;
      background: var(--figma-color-bg-tertiary);
    }
  }
}